<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebLedMatrix.Matrix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMatrixService">
                    <security mode="None">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://pc/Matrix/MatrixService.svc" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMatrixService" contract="MatrixService.IMatrixService"
                name="NetTcpBinding_IMatrixService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <WebLedMatrix.Matrix.Properties.Settings>
            <setting name="_name" serializeAs="String">
                <value>"DefaultNode"</value>
            </setting>
        </WebLedMatrix.Matrix.Properties.Settings>
    </userSettings>
</configuration>