<div class="container">
    <div class="col-xs-12" id="Status">
        <div class="col-xs-3" id="progress">
        </div>
        <div class="col-xs-9" id="slider">
            @{
                Html.RenderAction("Login", "Account");
            }
        </div>
    </div>
</div>

<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.6.0/dist/progressbar.js"></script>

<script type="text/javascript">
    $(function() {
        uiManagerHub = $.connection.uiManagerHub;
        administrationHub = $.connection.administrationHub;

        var circle;
        var circleState = function(status) {
            var colour = "#FFFFFF";
            switch (status) {
                case "Admin":
                    colour = "#FF0000";
                    break;
                case "Logged":
                    colour = "#008000";
                    break;
                case "NotLogged":
                    colour = "#808080";
                    break;
            }

            if (circle != null) circle.destroy();

            ///Extract method from there!
            circle = new ProgressBar.Circle('#progress', {
                duration: 350,
                color: colour,
                trailColor: "#ddd",
                strokeWidth: 30
            });
            circle.animate(1, function () { circle.animate(1) });
        }

        uiManagerHub.client.unRegisterAllMatrices = function() {
            $("#matrixDataPanel").empty();
        };

        uiManagerHub.client.loginStatus = function(status) {
            circleState(status);
        };

        var stringMatrixLiteral = "_matrix";
        function addSignalRButton(fieldName,callback,functionName,buttonText,stringLiteral)
        {
            $("#" + fieldName + stringLiteral).append(
                "<button type=\"button\" class=\"btn btn-default\" id=\"" + fieldName + functionName + "Button\">" + buttonText + "</button>");
            $("#" + fieldName + functionName + "Button").click(callback);
        };

        function addMatrice(matrix, index, array) {
            $("#matrixDataPanel").append("<div class=col-xs-12 id=" + matrix.Name + stringMatrixLiteral + ">" + matrix.Name + "<input class=matrixtinp type=\"text\" id=\"" + matrix.Name + "textbox\">" + "</div>");
            addSignalRButton(matrix.Name, function () { uiManagerHub.server.sendText($("#" + matrix.Name + "textbox").val(), matrix.Name); }, "sendtext", "Send Text",stringMatrixLiteral);
            addSignalRButton(matrix.Name, function () { uiManagerHub.server.sendUri($("#" + matrix.Name + "textbox").val(), matrix.Name); }, "senduri", "Send Uri",stringMatrixLiteral);
        };

        uiManagerHub.client.updateMatrices = function (status) {
            status.forEach(addMatrice);
        };


        uiManagerHub.client.showSections = function(matrixes, sending, administration) {
            if (matrixes) {
                $("#matrixSection").slideDown("slow");
            } else {
                $("#matrixSection").slideUp("slow");
            }


            if (administration) {
                $("#administrationSection").slideDown("slow");
            } else {
                $("#administrationSection").slideUp("slow");
            }
        }


        administrationHub.client.activeUsers = function (users) {
            $("#administrationPanel").empty();
            users.forEach(showConnectedUsers);


        }

        var stringUserLiteral = "_U";
        function showConnectedUsers(item, index, array) {
            $("#administrationPanel").append("<div class=col-xs-12 id=" + item.UserName + stringUserLiteral + ">" + item.UserName + "   Is Muted: " + item.IsMuted + "</div>");
            addSignalRButton(item.UserName, function() {administrationHub.server.muteUser(item.UserName);}, "muteUser", "Mute User",stringUserLiteral);
            addSignalRButton(item.UserName, function() {administrationHub.server.unMuteUser(item.UserName);}, "unMuteUser", "UnMute User",stringUserLiteral);
        }

        $.connection.hub.start().done(function() {
            uiManagerHub.server.loginStatus();
            x = function (x, y) {
                uiManagerHub.server.loginStatus();
                uiManagerHub.server.sendCommandToMatrix(x, y);
            };

            administrationHub.server.getUsers();
        });


        $("#top").click(function () {
            uiManagerHub.server.upClick();
        }
           );
    $("#progress").click(function() {
        uiManagerHub.server.loginStatus();
    }
    );
    });
</script>

<script>
    $(document).ready(function() {
        $("#matrixDataPanelClickIt").click(function() {
            $("#matrixDataPanel").slideToggle("slow");
        });

        $("#administrationPanelButton").click(function() {
            $("#administrationPanel").slideToggle("slow");
        });
    });
</script>

<div id="matrixSection" class="container-fluid">
    <div class="text-center" id="matrixDataPanelClickIt">
        Matrices
    </div>

    <div id="matrixDataPanel" class="container-fluid" style="background-color: blue; display: none">
        No Displays found.
    </div>
</div>

<div id="administrationSection">
    <div class="text-center" id="administrationPanelButton">
        User Administration
    </div>

    <div id="administrationPanel" class="jumbotron" style="display: none">
        MatrixServiceMatrixService MatrixService
        MatrixService
    </div>
</div>
<div id="wrapper">
    <div id="ifuseract">
        <div id="notactive" class="active">
            You are not currlently sending anything
        </div>
        <div id="active" class="inactive">
            You are active right now
        </div>
    </div>
    <div class="steeringbutton" id="sendrq">
        <div class="buttoncontent">
            I want to send now!
        </div>
    </div>
    <div class="steeringbutton" id="enter">
        <div class="buttoncontent">
            <i class="fa fa-check fa-2x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="steeringbutton" id="left">
        <div class="buttoncontent">
            <i class="fa fa-arrow-left fa-2x"></i>
        </div>
    </div>
    <div class="steeringbutton" id="right">
        <div class="buttoncontent">
            <i class="fa fa-arrow-right fa-2x"></i>
        </div>
    </div>
    <div class="steeringbutton" id="top">
        <div class="buttoncontent">
            <i class="fa fa-arrow-up fa-2x"></i>

        </div>
    </div>
    <div class="steeringbutton" id="bottom">
        <div class="buttoncontent">
            <i class="fa fa-arrow-down fa-2x"></i>
        </div>
    </div>
</div>
<script type="text/javascript">
    $( document ).ready( function(){
        $('#ifuseract').on('click','#notactive',function () {
             $('#notactive').removeClass('active');
             $('#notactive').addClass('inactive');
             $('#active').removeClass('inactive');
             $('#active').addClass('active');
        });
        $('#ifuseract').on('click', '#active', function () {
            $('#active').removeClass('active');
            $('#active').addClass('inactive');
            $('#notactive').removeClass('inactive');
            $('#notactive').addClass('active');
        });
    });
</script>

<div id="iecontent" style="display: none; position: fixed; bottom: 0%; right: 0%; text-align: right;">
    We have detected that you are using Internet Explorer. Please bear in mind that it is not recommended to use IE<br />
    due to lack of support, and You may have problems using this site. <br />
</div>

