<div class="container">
    <div class="col-xs-12" id="Status">
        <div class="col-xs-3" id="progress">
        </div>
        <div class="col-xs-9">
            @{
                Html.RenderAction("Login", "Account");
            }
        </div>
    </div>
</div>

<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.6.0/dist/progressbar.js"></script>

@{ ViewBag.Title = "Index"; }
<div class="panel panel-primary">
    <div class="panel-heading">User Details</div>
    <table class="table table-striped">
        @foreach (string key in Model.Keys)
        {
            <tr>
                <th>@key</th>
                <td>@Model[key]</td>
            </tr>
        }
    </table>
</div>

<script type="text/javascript">
    $(function() {
        var clientNodeHub = $.connection.uIManagerHub;
        var circle;

        var circleState = function(status) {
            var colour = "#FFFFFF";

            switch (status) {
                case "Admin":
                    colour = "#FF0000";
                    break;
                case "Logged":
                    colour = "#008000";
                    break;
                case "NotLogged":
                    colour = "#808080";
                    break;
            }

            if (circle != null) {
                circle.destroy();
            }

            ///Extract method from there!
            circle = new ProgressBar.Circle('#progress', {
                duration: 200,
                color: colour,
                trailColor: "#ddd",
                strokeWidth: 30
            });
            circle.animate(1, function () { circle.animate(0.5) });
        }

        clientNodeHub.client.loginStatus = function(status) {
            circleState(status);
        };

        clientNodeHub.client.showSections = function(matrixes, sending, administration) {
            if (matrixes) {
                $("#matrixSection").slideDown("slow");
            } else {
                $("#matrixSection").slideUp("slow");
            }
        }

        $.connection.hub.start().done(function() {
            clientNodeHub.server.loginStatus();
        });
        
        $("#progress").click(function() {
                clientNodeHub.server.loginStatus();
            }
        );
    });
</script>

<script>
    $(document).ready(function() {
        $("#matrixDataPanelClickIt").click(function() {
            $("#matrixDataPanel").slideToggle("slow");
        });
    });
</script>

<div id="matrixSection">
    <center>
        <input type="button" value="Click IT" id="matrixDataPanelClickIt" />
    </center>

    <div id="matrixDataPanel" class="jumbotron" style="display: none">
        TestTest Test
        Test
    </div>
</div>


