<div class="container">
    <div class="col-xs-12" id="Status">
        <div class="col-xs-3" id="progress">
        </div>
        <div class="col-xs-9">
            @{
               Html.RenderAction("Login", "Account");
            }
        </div>
    </div>
</div>

<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.6.0/dist/progressbar.js"></script>

@{ ViewBag.Title = "Index"; }
<div class="panel panel-primary">
    <div class="panel-heading">User Details</div>
    <table class="table table-striped">
        @foreach (string key in Model.Keys)
        {
            <tr>
                <th>@key</th>
                <td>@Model[key]</td>
            </tr>
        }
    </table>
</div>

Login: Administrator Password: Admin1

<script type="text/javascript">
    $(function() {
        var uiManagerHub = $.connection.uiManagerHub;
        var circle;

        var circleState = function(status) {
            var colour = "#FFFFFF";

            switch (status) {
                case "Admin":
                    colour = "#FF0000";
                    break;
                case "Logged":
                    colour = "#008000";
                    break;
                case "NotLogged":
                    colour = "#808080";
                    break;
            }

            if (circle != null) {
                circle.destroy();
            }

            ///Extract method from there!
            circle = new ProgressBar.Circle('#progress', {
                duration: 200,
                color: colour,
                trailColor: "#ddd",
                strokeWidth: 30
            });
            circle.animate(1, function () { circle.animate(0.5) });
        }

        uiManagerHub.client.updateMatrixes = function(name) {
            $("#matrixDataPanel").append("<div class=col-xs-12>" + name + "</div>");
        };

        uiManagerHub.client.loginStatus = function(status) {
            circleState(status);
        };

        uiManagerHub.client.showSections = function(matrixes, sending, administration) {
            if (matrixes) {
                $("#matrixSection").slideDown("slow");
            } else {
                $("#matrixSection").slideUp("slow");
            }

            if (sending) {
                $("#sendingSection").slideDown("slow");
            } else {
                $("#sendingSection").slideUp("slow");
            }

            if (administration) {
                $("#administrationSection").slideDown("slow");
            } else {
                $("#administrationSection").slideUp("slow");
            }
        }

        $.connection.hub.start().done(function() {
            uiManagerHub.server.loginStatus();
        });
        
        $("#progress").click(function() {
            uiManagerHub.server.loginStatus();
                uiManagerHub.server.otherMethods();
            }
        );
    });
</script>

<script>
    $(document).ready(function() {
        $("#matrixDataPanelClickIt").click(function() {
            $("#matrixDataPanel").slideToggle("slow");
        });

        $("#sendingPanelButton").click(function() {
            $("#sendingPanel").slideToggle("slow");
        });

        $("#administrationPanelButton").click(function() {
            $("#administrationPanel").slideToggle("slow");
        });
    });
</script>

<div id="matrixSection" class="container-fluid" >
    <center>
        <input type="button" value="Click IT" id="matrixDataPanelClickIt"/>
    </center>

    <div id="matrixDataPanel" class="container-fluid" style="background-color: rosybrown; display: none">

    </div>
</div>

<div id="sendingSection">
    <center>
        <input type="button" value="Click IT" id="sendingPanelButton"/>
    </center>

    <div id="sendingPanel" class="jumbotron" style="display: none">
        MatrixServiceMatrixService MatrixService
        MatrixService
    </div>
</div>

<div id="administrationSection">
    <center>
        <input type="button" value="Click IT" id="administrationPanelButton" />
    </center>

    <div id="administrationPanel" class="jumbotron" style="display: none">
        MatrixServiceMatrixService MatrixService
        MatrixService
    </div>
</div>


