<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webledmatrix.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webledmatrix.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebLedMatrix</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebLedMatrix</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IdentityDb" Order="1" Enabled="False">
          <Destination Path="Data Source=eu-cdbr-azure-west-d.cloudapp.net;Initial Catalog=acsm_5a10ad11bccb3ad;Persist Security Info=True;User ID=b315928eac2f51;Password=6ff7d894" Name="server=eu-cdbr-azure-west-d.cloudapp.net;user id=b315928eac2f51;password=6ff7d894;persistsecurityinfo=True;database=acsm_5a10ad11bccb3ad" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IdentityDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Model1" Order="2" Enabled="False">
          <Destination Path="Data Source=eu-cdbr-azure-west-d.cloudapp.net;Initial Catalog=acsm_5a10ad11bccb3ad;Persist Security Info=True;User ID=b315928eac2f51;Password=6ff7d894" Name="server=eu-cdbr-azure-west-d.cloudapp.net;user id=b315928eac2f51;password=6ff7d894;persistsecurityinfo=True;database=acsm_5a10ad11bccb3ad" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=WebLedMatrix.Logic.MatrixsManagement.Infrastructure.Model1;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Model1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;initial catalog=WebLedMatrix.Logic.MatrixsManagement.Infrastructure.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityDb-Web.config Connection String">
      <ParameterValue>server=eu-cdbr-azure-west-d.cloudapp.net;user id=b315928eac2f51;password=6ff7d894;persistsecurityinfo=True;database=acsm_5a10ad11bccb3ad</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Model1-Web.config Connection String">
      <ParameterValue>server=eu-cdbr-azure-west-d.cloudapp.net;user id=b315928eac2f51;password=6ff7d894;persistsecurityinfo=True;database=acsm_5a10ad11bccb3ad;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>