<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script><style>
        .container {
            padding-top: 10px;
        }

        .validation-summary-errors {
            color: #f00;
        }
    </style> 
</head>
<body>

    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    <link rel="Matrix stylesheet" type="text/css" href="~/Content/mxstyle.css">
    <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js"></script>
    <script src="../Matrix/signalr/hubs"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
